<div class="art" [class]="'art art--' + slug()" aria-hidden="true">
  @switch (slug()) {
    @case ('quem-sou-eu') {
      <span class="art__question">?</span>
      <span class="art__card art__card--one"></span>
      <span class="art__card art__card--two"></span>
    }
    @case ('ito') {
      <span class="art__number art__number--small">12</span>
      <span class="art__number art__number--large">78</span>
      <span class="art__line"></span>
    }
    @default {
      <span class="art__impostor-symbol">
        <span class="art__eye art__eye--left"></span>
        <span class="art__eye art__eye--right"></span>
        <span class="art__mask"></span>
      </span>
    }
  }
</div>
