<div class="art" [class]="'art art--' + slug()" aria-hidden="true">
  @switch (slug()) {
    @case ('quem-sou-eu') {
      <span class="art__question">?</span>
      <span class="art__card art__card--one"></span>
      <span class="art__card art__card--two"></span>
    }
    @case ('ito') {
      <span class="art__number art__number--small">12</span>
      <span class="art__number art__number--large">78</span>
      <span class="art__line"></span>
    }
    @case ('cha-ou-cafe') {
      <span class="art__choice art__choice--a">A</span>
      <span class="art__choice-divider"><i></i><b>ou</b><i></i></span>
      <span class="art__choice art__choice--b">B</span>
    }
    @case ('batata-quente') {
      <span class="art__spark">✦</span>
      <span class="art__fuse"></span>
      <span class="art__potato"><i></i><i></i><b></b></span>
    }
    @case ('pergunta-do-impostor') {
      <span class="art__speech art__speech--one"><b>?</b><i></i></span>
      <span class="art__speech art__speech--two"><b>?</b><i></i></span>
    }
    @case ('onde-estou') {
      <span class="art__location-map"><i></i><i></i><i></i></span>
      <span class="art__pin art__pin--known"><b></b></span>
      <span class="art__pin art__pin--unknown"><b>?</b></span>
    }
    @default {
      <span class="art__impostor-symbol">
        <span class="art__eye art__eye--left"></span>
        <span class="art__eye art__eye--right"></span>
        <span class="art__mask"></span>
      </span>
    }
  }
</div>
